* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  color: black;
  background: linearGradient(to left, #feb47b, #ff7e5f);
  padding: 25px;
  text-align: center;
}
header {
  margin-bottom: 25px;
}

header h4 {
  font-size: x-large;
  color: #ff7e5f;
  margin-bottom: 10px;
}
form {
  color: #333;
  background: #ff7e5f;
  padding: 20px;
  box-shadow: 0 5px 8px rgba(0,0,0,0.3);
  border-radius; 15px;
  max-width: 600px;
  margin: 0 auto;
}
.form-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  display: flexbox;
  margin-bottom:5px;
  font-weight: bold;
}
input,
select {
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: xx-large;
}
button {
  color: #b2ca36;
  padding: 15px 10px;
  background-color: hsl(14, 77%, 44%);
  border: none;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.4s ease-in;
  font-weight: bold;
}

.result {
  font-size: x-large;
  font-weight: bold;
}

footer {
margin-top: 30px; 
font-weight: bold; 
}